<footer class="footer-section">
  <div class="container side-padd">
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li>
          <a href="#about-us" class="footer-nav-link uppercase">about us</a>
        </li>
        <li>
          <a href="#our-collection" class="footer-nav-link uppercase"
            >our collection</a
          >
        </li>
        <li>
          <a href="#your-order" class="footer-nav-link uppercase"
            >customer order</a
          >
        </li>
        <li>
          <a href="#testimonials" class="footer-nav-link uppercase"
            >testimonials</a
          >
        </li>
      </ul>
    </nav>
    <p class="footer-title">
      A touch of
      <span class="accent">Ukrainian</span> culture in every embroidery
    </p>
  </div>
</footer>
