<footer class="footer-section">
  <div class="footer-conatiner container side-padd">
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">about us</a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">our collection</a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">customer order</a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">testimmonials</a>
        </li>
      </ul>
    </nav>
    <h2 class="footer-title">
      A touch of
      <span class="footer-title-word-ukr">Ukrainian</span> culture in every
      embroidery
    </h2>
  </div>
</footer>
