<header>
  <div class="container header-cont side-padd">
    <nav class="nav-header">
      <a
        class="header-logo"
        href="https://lofendid.github.io/project-08_vyshyvanka-vibes/"
      >
        <img src="/icons/vv-logo.svg" width="44" height="39" alt="logo" />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link uppercase" href="#about-us">about us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link uppercase" href="#our-collection"
            >our collection</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link uppercase" href="#your-order"
            >customer order</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link uppercase" href="#testimonials"
            >testimonials</a
          >
        </li>
      </ul>
    </nav>
    <div class="sm-menu-cont">
      <address class="header-contacts">
        <a class="header-phone uppercase" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <ul class="header-sm-list">
        <li>
          <a
            class="header-sm-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="header-sm-icon" width="22" height="22">
              <use href="/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-sm-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="header-sm-icon" width="22" height="22">
              <use href="/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="header-sm-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="header-sm-icon" width="26" height="26">
              <use href="/icons/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="header-menu-button">
        <svg width="36" height="36" class="header-menu-icon">
          <use href="/icons/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
