<header>
  <div class="container header-cont side-padd">
    <nav class="nav-header">
      <a class="header-logo" href="#">
        <img src="/icons/vv-logo.svg" width="44px" height="39px" alt="logo" />
      </a>
    </nav>
    <address class="header-contacts">
      <a href="tel:"></a>
    </address>
    <div class="sm-menu-cont">
      <ul class="header-sm-list">
        <li class="header-sm-item">
          <a href="">
            <svg class="header-sm-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-sm-item">
          <a href="">
            <svg class="header-sm-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-sm-item">
          <a href="">
            <svg class="header-sm-icon" width="28" height="28">
              <use href="/icons/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="menu-button">
        <svg width="36" height="36" class="menu-icon">
          <use href="/icons/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
