<section class="our-collection bottom-marg" id="our-collection">
  <div class="container">
    <h2 class="section-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-card">
        <picture class="collection-stitch">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/mob/item-1-mob.jpg,
              /img/our-collection/mob/item-1-mob@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1279px)"
            srcset="
              /img/our-collection/tab/item-1-tab.jpg,
              /img/our-collection/tab/item-1-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              /img/our-collection/desk/item-1-desk.jpg,
              /img/our-collection/desk/item-1-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/desk-L/item-1-desk-L.jpg,
              /img/our-collection/desk-L/item-1-desk-L@2x.jpg 2x
            "
          />
          <img
            srcset="
              /img/our-collection/mob/item-1-mob.jpg,
              /img/our-collection/mob/item-1-mob@2x.jpg 2x
            "
            src="/img/our-collection/mob/item-1-mob.jpg"
            loading="lazy"
            alt="Black women's blouse"
          />
        </picture>
        <h3 class="collection-card-title">AUGUST Poltava women's blouseRING</h3>
        <span class="collection-card-text">3300 UAH</span>
      </li>
      <li class="collection-card">
        <picture class="collection-stitch">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/mob/item-2-mob.jpg,
              /img/our-collection/mob/item-2-mob@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1279px)"
            srcset="
              /img/our-collection/tab/item-2-tab.jpg,
              /img/our-collection/tab/item-2-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              /img/our-collection/desk/item-2-desk.jpg,
              /img/our-collection/desk/item-2-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/desk-L/item-2-desk-L.jpg,
              /img/our-collection/desk-L/item-2-desk-L@2x.jpg 2x
            "
          />
          <img
            srcset="
              /img/our-collection/mob/item-2-mob.jpg,
              /img/our-collection/mob/item-2-mob@2x.jpg 2x
            "
            src="/img/our-collection/mob/item-2-mob.jpg"
            loading="lazy"
            alt="Flesh women's blouse"
          />
        </picture>
        <h3 class="collection-card-title">Women's blouse Gorgany</h3>
        <span class="collection-card-text">3350 UAH</span>
      </li>
      <li class="collection-card">
        <picture class="collection-stitch">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/mob/item-3-mob.jpg,
              /img/our-collection/mob/item-3-mob@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1279px)"
            srcset="
              /img/our-collection/tab/item-3-tab.jpg,
              /img/our-collection/tab/item-3-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              /img/our-collection/desk/item-3-desk.jpg,
              /img/our-collection/desk/item-3-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/desk-L/item-3-desk-L.jpg,
              /img/our-collection/desk-L/item-3-desk-L@2x.jpg 2x
            "
          />
          <img
            srcset="
              /img/our-collection/mob/item-3-mob.jpg,
              /img/our-collection/mob/item-3-mob@2x.jpg 2x
            "
            src="/img/our-collection/mob/item-3-mob.jpg"
            loading="lazy"
            alt="White women's blouse"
          />
        </picture>
        <h3 class="collection-card-title">Women's blouse Crimea</h3>
        <span class="collection-card-text">4000 UAH</span>
      </li>
      <li class="collection-card">
        <picture class="collection-stitch">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/mob/item-4-mob.jpg,
              /img/our-collection/mob/item-4-mob@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1279px)"
            srcset="
              /img/our-collection/tab/item-4-tab.jpg,
              /img/our-collection/tab/item-4-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              /img/our-collection/desk/item-4-desk.jpg,
              /img/our-collection/desk/item-4-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/desk-L/item-4-desk-L.jpg,
              /img/our-collection/desk-L/item-4-desk-L@2x.jpg 2x
            "
          />
          <img
            srcset="
              /img/our-collection/mob/item-4-mob.jpg,
              /img/our-collection/mob/item-4-mob@2x.jpg 2x
            "
            src="/img/our-collection/mob/item-4-mob.jpg"
            loading="lazy"
            alt="Flesh men's shirt"
          />
        </picture>
        <h3 class="collection-card-title">Men's shirt Verkhovina</h3>
        <span class="collection-card-text">3100 UAH</span>
      </li>
      <li class="collection-card">
        <picture class="collection-stitch">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/mob/item-5-mob.jpg,
              /img/our-collection/mob/item-5-mob@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1279px)"
            srcset="
              /img/our-collection/tab/item-5-tab.jpg,
              /img/our-collection/tab/item-5-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              /img/our-collection/desk/item-5-desk.jpg,
              /img/our-collection/desk/item-5-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/desk-L/item-5-desk-L.jpg,
              /img/our-collection/desk-L/item-5-desk-L@2x.jpg 2x
            "
          />
          <img
            srcset="
              /img/our-collection/mob/item-5-mob.jpg,
              /img/our-collection/mob/item-5-mob@2x.jpg 2x
            "
            src="/img/our-collection/mob/item-5-mob.jpg"
            loading="lazy"
            alt="Black men's shirt"
          />
        </picture>
        <h3 class="collection-card-title">Mountain men's shirt</h3>
        <span class="collection-card-text">3300 UAH</span>
      </li>
      <li class="collection-card">
        <picture class="collection-stitch">
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/mob/item-6-mob.jpg,
              /img/our-collection/mob/item-6-mob@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1279px)"
            srcset="
              /img/our-collection/tab/item-6-tab.jpg,
              /img/our-collection/tab/item-6-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width:1439px)"
            srcset="
              /img/our-collection/desk/item-6-desk.jpg,
              /img/our-collection/desk/item-6-desk@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/desk-L/item-6-desk-L.jpg,
              /img/our-collection/desk-L/item-6-desk-L@2x.jpg 2x
            "
          />
          <img
            srcset="
              /img/our-collection/mob/item-6-mob.jpg,
              /img/our-collection/mob/item-6-mob@2x.jpg 2x
            "
            src="/img/our-collection/mob/item-6-mob.jpg"
            loading="lazy"
            alt="White men's shirt"
          />
        </picture>
        <h3 class="collection-card-title">Men's shirt Yasen</h3>
        <span class="collection-card-text">1700 UAH</span>
      </li>
    </ul>
  </div>
</section>
