<section class="our-collection">
  <div class="container">
    <h2 class="section-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-card">
        <img
          class="collection-img"
          srcset="
            /img/our-collection/mob/item-1-mob.jpg      335w,
            /img/our-collection/mob/item-1-mob@2x.jpg   670w,
            /img/our-collection/tab/item-1-tab.jpg      342w,
            /img/our-collection/tab/item-1-tab@2x.jpg   684w,
            /img/our-collection/desk/item-1-desk.jpg    347w,
            /img/our-collection/desk/item-1-desk@2x.jpg 694w
          "
          sizes="(max-width: 767px) 335px, (max-width:1279px) 342px, (min-width: 1280px) 347px"
          src="/img/our-collection/mob/item-1-mob.jpg"
          alt="Black women's blouse"
        />
        <h3 class="collection-card-title">AUGUST Poltava women's blouseRING</h3>
        <p class="collection-card-text">3300 UAH</p>
      </li>
      <li class="collection-card">
        <img
          class="collection-img"
          srcset="
            /img/our-collection/mob/item-2-mob.jpg      335w,
            /img/our-collection/mob/item-2-mob@2x.jpg   670w,
            /img/our-collection/tab/item-2-tab.jpg      342w,
            /img/our-collection/tab/item-2-tab@2x.jpg   684w,
            /img/our-collection/desk/item-2-desk.jpg    347w,
            /img/our-collection/desk/item-2-desk@2x.jpg 694w
          "
          sizes="(max-width: 767px) 335px, (max-width: 1279px) 342px, (min-width: 1280px) 347px"
          src="/img/our-collection/mob/item-2-mob.jpg"
          alt="Flesh women's blouse"
        />
        <h3 class="collection-card-title">Women's blouse Gorgany</h3>
        <p class="collection-card-text">3350 UAH</p>
      </li>
      <li class="collection-card">
        <img
          class="collection-img"
          srcset="
            /img/our-collection/mob/item-3-mob.jpg      335w,
            /img/our-collection/mob/item-3-mob@2x.jpg   670w,
            /img/our-collection/tab/item-3-tab.jpg      342w,
            /img/our-collection/tab/item-3-tab@2x.jpg   684w,
            /img/our-collection/desk/item-3-desk.jpg    347w,
            /img/our-collection/desk/item-3-desk@2x.jpg 694w
          "
          sizes="(max-width: 767px) 335px, (max-width: 1279px) 342px, (min-width: 1280px) 347px"
          src="/img/our-collection/mob/item-3-mob.jpg"
          alt="White women's blouse"
        />
        <h3 class="collection-card-title">Women's blouse Crimea</h3>
        <p class="collection-card-text">4000 UAH</p>
      </li>
      <li class="collection-card">
        <img
          class="collection-img"
          srcset="
            /img/our-collection/mob/item-4-mob.jpg      335w,
            /img/our-collection/mob/item-4-mob@2x.jpg   670w,
            /img/our-collection/tab/item-4-tab.jpg      342w,
            /img/our-collection/tab/item-4-tab@2x.jpg   684w,
            /img/our-collection/desk/item-4-desk.jpg    347w,
            /img/our-collection/desk/item-4-desk@2x.jpg 694w
          "
          sizes="(max-width: 767px) 335px, (max-width: 1279px) 342px, (min-width: 1280px) 347px"
          src="/img/our-collection/mob/item-4-mob.jpg"
          alt="Flesh men's shirt"
        />
        <h3 class="collection-card-title">Men's shirt Verkhovina</h3>
        <p class="collection-card-text">3100 UAH</p>
      </li>
      <li class="collection-card">
        <img
          class="collection-img"
          srcset="
            /img/our-collection/mob/item-5-mob.jpg      335w,
            /img/our-collection/mob/item-5-mob@2x.jpg   670w,
            /img/our-collection/tab/item-5-tab.jpg      342w,
            /img/our-collection/tab/item-5-tab@2x.jpg   684w,
            /img/our-collection/desk/item-5-desk.jpg    347w,
            /img/our-collection/desk/item-5-desk@2x.jpg 694w
          "
          sizes="(max-width: 767px) 335px, (max-width: 1279px) 342px, (min-width: 1280px) 347px"
          src="/img/our-collection/mob/item-5-mob.jpg"
          alt="White men's shirt"
        />
        <h3 class="collection-card-title">Mountain men's shirt</h3>
        <p class="collection-card-text">3300 UAH</p>
      </li>
      <li class="collection-card">
        <img
          class="collection-img"
          srcset="
            /img/our-collection/mob/item-6-mob.jpg      335w,
            /img/our-collection/mob/item-6-mob@2x.jpg   670w,
            /img/our-collection/tab/item-6-tab.jpg      342w,
            /img/our-collection/tab/item-6-tab@2x.jpg   684w,
            /img/our-collection/desk/item-6-desk.jpg    347w,
            /img/our-collection/desk/item-6-desk@2x.jpg 694w
          "
          sizes="(max-width: 767px) 335px, (max-width: 1279px) 342px, (min-width: 1280px) 347px"
          src="/img/our-collection/mob/item-6-mob.jpg"
          alt="Black men's shirt"
        />
        <h3 class="collection-card-title">Men's shirt Yasen</h3>
        <p class="collection-card-text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
