<section class="presentation container">
  <h2 class="section-title side-padd">Hey, Arnold!</h2>
  <p class="side-padd bottom-marg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque
    architecto, consectetur ab nobis dolorum alias quibusdam! Corrupti placeat
    dolores cumque perspiciatis, accusamus doloremque voluptate porro, alias
    aspernatur unde maiores debitis quas nemo mollitia tempora repellendus ad
    quidem ipsum incidunt esse nesciunt. Libero labore tenetur sed laboriosam
    inventore, nihil, enim eos reiciendis ea nostrum quo nulla numquam officiis
    minus non nesciunt tempora hic? Quam, enim ex! Nostrum nemo iusto voluptates
    optio fuga qui rem perferendis. Cupiditate, vero nobis temporibus corporis
    accusamus autem nam enim, reiciendis voluptas pariatur maiores laboriosam
    distinctio obcaecati aliquid assumenda repellat. Rerum minima eligendi
    officiis neque magnam!
  </p>

  <div style="width: auto">
    <img class="content-center" src="/img/your-order/girl-mob.jpg" alt="girl" />
  </div>
</section>

<section class="another container">
  <h2 class="section-title side-padd">Hey, Arnold!</h2>
  <p class="side-padd bottom-marg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque
    architecto, consectetur ab nobis dolorum alias quibusdam! Corrupti placeat
    dolores cumque perspiciatis, accusamus doloremque voluptate porro, alias
    aspernatur unde maiores debitis quas nemo mollitia tempora repellendus ad
    quidem ipsum incidunt esse nesciunt. Libero labore tenetur sed laboriosam
    inventore, nihil, enim eos reiciendis ea nostrum quo nulla numquam officiis
    minus non nesciunt tempora hic? Quam, enim ex! Nostrum nemo iusto voluptates
    optio fuga qui rem perferendis. Cupiditate, vero nobis temporibus corporis
    accusamus autem nam enim, reiciendis voluptas pariatur maiores laboriosam
    distinctio obcaecati aliquid assumenda repellat. Rerum minima eligendi
    officiis neque magnam!
  </p>

  <div style="width: auto">
    <img class="content-center" src="/img/your-order/girl-mob.jpg" alt="girl" />
  </div>
</section>
