<section class="slider-section">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide">
          <img
            srcset="
              /img/gallery/gallery-item-1.jpg               1038w,
              /img/gallery/gallery-item-1@2x.jpg            2076w,
              /img/gallery/tablet/gallery-item-1-tab.jpg     770w,
              /img/gallery/tablet/gallery-item-1-tab@2x.jpg 1540w,
              /img/gallery/mobile/gallery-item-1-mob.jpg     336w,
              /img/gallery/mobile/gallery-item-1-mob@2x.jpg  672w
            "
            sizes="(min-width: 1280px) 1038px, (min-width: 1020px) 770px, (max-width: 1019px) 336px"
            src="/img/gallery/mobile/gallery-item-1-mob.jpg"
            alt="gallery item"
            class="slide"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /img/gallery/gallery-item-2.jpg               1038w,
              /img/gallery/gallery-item-2@2x.jpg            2076w,
              /img/gallery/tablet/gallery-item-2-tab.jpg     770w,
              /img/gallery/tablet/gallery-item-2-tab@2x.jpg 1540w,
              /img/gallery/mobile/gallery-item-2-mob.jpg     336w,
              /img/gallery/mobile/gallery-item-2-mob@2x.jpg  672w
            "
            sizes="(min-width: 1280px) 1038px, (min-width: 1020px) 770px, (max-width: 1019px) 336px"
            src="/img/gallery/mobile/gallery-item-2-mob.jpg"
            alt="gallery item"
            class="slide"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /img/gallery/gallery-item-3.jpg               1038w,
              /img/gallery/gallery-item-3@2x.jpg            2076w,
              /img/gallery/tablet/gallery-item-3-tab.jpg     770w,
              /img/gallery/tablet/gallery-item-3-tab@2x.jpg 1540w,
              /img/gallery/mobile/gallery-item-3-mob.jpg     336w,
              /img/gallery/mobile/gallery-item-3-mob@2x.jpg  672w
            "
            sizes="(min-width: 1280px) 1038px, (min-width: 1020px) 770px, (max-width: 1019px) 336px"
            src="/img/gallery/mobile/gallery-item-3-mob.jpg"
            alt="gallery item"
            class="slide"
          />
        </div>

      </div>
      <!-- Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
