<!-- Your-orders -->
<section class="your-order-section bottom-marg" id="#your-order">
  <!-- Girl bg -->
  <div class="bg-girl"></div>
  <!-- Main content -->
  <div class="wrapper container">
    <div class="main-container side-padd">
      <h2 class="section-title">
        <span class="accent">Your order</span> is our priority: Personalized
        approach and quality of service
      </h2>
      <form class="your-order-form">
        <input
          class="your-order-input"
          type="text"
          name="user-name"
          title="Ivetta Frank / Іветта Франк"
          placeholder="Enter your full name"
          pattern="[a-zA-Z А-Яа-яЁёҐґІіЇїЄєІi]+"
          required
        />
        <input
          class="your-order-input"
          type="email"
          name="user-email"
          title="ivettafrank@gmail.com"
          placeholder="Enter your email"
          required
        />
        <textarea
          class="your-order-input textarea"
          name="comments"
          placeholder="Comments"
        ></textarea>
        <button class="btn uppercase" type="submit">
          <span>send</span>
          <svg width="26" height="21">
            <use href="/icons/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    </div>
    <picture class="img-shirt">
      <source
        media="(min-width: 1280px)"
        srcset="
          /img/your-order/shirt-desk.jpg,
          /img/your-order/shirt-desk@2x.jpg 2x
        "
      />
      <img
        srcset="/img/your-order/shirt-tab@2x.jpg 2x"
        src="/img/your-order/shirt-tab.jpg"
        alt="shirt"
      />
    </picture>
  </div>
  <!-- Bg texture -->
  <div class="bg-texture"></div>
</section>
