/*-------------------------------------------Texture                                */

.about-us-section {
    background-image: url('../img/about-us/texture-mob.png');
    background-repeat: no-repeat;
    background-position: right bottom 18px;
    background-size: 250px 408px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-radio: 2) and (max-width: 767px) {
    .about-us-section {
        background-image: url('../img/about-us/texture-mob@2x.png');
    }
}

@media screen and (min-width: 768px) {
    .about-us-section {
        background-image: url('../img/about-us/texture-tab.png');
        background-size: 369px 484px;
        background-position: right bottom 50px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-radio: 2) and (min-width: 768px) {
    .about-us-section {
        background-image: url('../img/about-us/texture-tab@2x.png');
    }
}

@media screen and (min-width: 1280px) {
    .about-us-section {
        background-image: url('../img/about-us/texture-desk.png');
        background-size: 385px 484px;
        background-position: right bottom 70px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-radio: 2) and (min-width: 1280px) {
    .about-us-section {
        background-image: url('../img/about-us/texture-desk@2x.png');
    }
}

@media screen and (min-width: 1440px) {
    .about-us-section {
        background-image: url('../img/about-us/texture-desk-L.png');
        background-size: 545px 484px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (min-device-pixel-radio: 2) and (min-width: 1440px) {
    .about-us-section {
        background-image: url('../img/about-us/texture-desk-L@2x.png');
    }
}

/*-------------------------------------------Else                                */

.about-us-section .section-title {
    margin-bottom: 40px;
}

.about-us-text {
    color: var(--text-color);
    font-size: var(--regular-S-font);
    font-weight: var(--regular-weight);
    line-height: normal;
    letter-spacing: -0.04em;
    display: inline-block;
}

.about-us-text:nth-child(2) {
    margin-bottom: 20px;
}

.about-us-section .text-wrapper {
    margin-bottom: 50px;
}

/*                   Tablet                 */

@media screen and (min-width: 768px) {
    .about-us-text {
        font-size: var(--regular-M-font);
    }
}

@media screen and (min-width: 1280px) {
    .about-us-section .container {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .about-us-section .shirt-img {
        flex-shrink: 0;
    }

    .about-us-section .text-wrapper {
        margin-bottom: 0;
    }
}
