header {
  padding-top: 20px;
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  background-color: transparent;
  border: transparent;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 36px;
  height: 36px;
}

.header-sm-list {
  display: flex;
  gap: 12px;
  margin-right: 12px;
}

.header-sm-icon {
  fill: #fcf9f9;
  width: 28px;
  height: 28px;
}

.nav-header {
}

.header-contacts {
  display: none;
}

.header-sm-item {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
}

.header-logo {
}

.sm-menu-cont {
  display: flex;
  align-items: center;
}
