header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  background-color: var(--black-color);
  z-index: 999;
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-button {
  background-color: transparent;
  border: transparent;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-sm-list {
  display: flex;
  gap: 12px;
}

.header-sm-icon {
  fill: #fcf9f9;
}

.nav-header {
  margin-right: 12px;
}

.header-contacts {
  display: none;
}

.header-sm-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  transition: border 200ms ease-in-out;
}

.sm-menu-cont {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-nav-list {
  display: none;
}

.header-sm-instagram-icon {
  width: 22px;
  height: 22px;
}

.header-sm-facebook-icon {
  width: 22px;
  height: 22px;
}

.header-sm-youtube-icon {
  width: 26px;
  height: 26px;
}

/* Tablet */

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 86px;
  }

  .sm-menu-cont {
    gap: 20px;
  }

  .header-menu-icon {
    width: 44px;
    height: 44px;
  }

  .nav-header {
    margin-right: 0;
  }
}

/* Desktop */

@media screen and (min-width: 1280px) {
  .header-menu-button {
    display: none;
  }

  .nav-header {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .header-nav-link {
    color: #fcf9f9;
    letter-spacing: var(--letter-s);
    font-weight: 400;
    transition: color 200ms ease-in-out;
  }

  .header-contacts {
    display: initial;
  }

  .header-phone {
    color: var(--white, #fcf9f9);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    padding: 14px 28px;
    transition: border 200ms ease-in-out;
    letter-spacing: var(--letter-s);
  }

  .header-sm-link:hover,
  .header-sm-link:focus {
    border: 1px solid #ecd979;
    outline: transparent;
  }

  .header-phone:hover,
  .header-phone:focus {
    border: 1px solid #ecd979;
    outline: transparent;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #ecd979;
  }

  header {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 80px;
  }
}
