

.testimonials>.container {
    padding: 0 32px;
    padding-bottom: 80px;
}
@media screen and (min-width: 1280px) {
    .testimonials>.container {
        padding: 0 100px;
    }
}
.testimonials-title {
    margin-bottom: 40px;
}

.testimonials-list {
    display: flex;
}

@media screen and (min-width: 768px) {
    .testimonials-list {
        gap: 32px;    
        justify-content: center;
    }
}
@media screen and (min-width: 1280px) {
    .testimonials-list {
        gap: 26px;
    }
}

.testimonials-item {
    position: relative;
}
@media only screen and (max-width: 767.98px) {
.sergey {
    display: none;
}
.natalia {
    display: none;
}
}
@media screen and (min-width: 768px) {
    .testimonials-item {
    width: calc((100% - 32px) / 2);
    }
}
@media only screen and (max-width: 1279.98px) {
    .natalia {
    display: none;
    }
}
@media screen and (min-width: 768px) {
    .testimonials-item {
    flex-basis: calc((100% - 32px) / 2);
    }
}
.testimonials-img {
    
    box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testimonials-card {
    
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    padding: 0px 18px 18px 18px;
    
}
@media screen and (min-width: 768px) {
    .testimonials-card {
    flex-basis: calc((100% - 32px) / 2);
}
}
.testimonials-name {

    color: var(--white-color);
    text-align: center;
    font-size: var(--comment-name-font);
    font-weight: var(--semi-bold-weight);
    line-height: 1,5;
    margin-bottom: 8px;
    margin-top: 54px;
}
.testimonials-text {
    width: 0.72;
    color: var(--text-color);
    text-align: center;    
    font-size: var(--regular-S-font);    
    font-weight: var(--regular-weight);
    line-height: normal;
}
@media screen and (min-width: 768px) {
    .testimonials-text {
        width: 300px;
        height: 176px;
        font-size: var(--regular-M-font);
    }
}
@media screen and (min-width: 1280px) {
    .testimonials-text {
        width: 307px;
    }
}
@media screen and (min-width: 1440px) {
    .testimonials-text {
        width: 360px;
        height: 154px;
    }
}
