/* mobile-version */
.section-order {
  background-image: url(/img/your-order/girl-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192pdi),
  (min-resolution: 2dppx) {
  .section-page-one {
    background-image: url(/img/your-order/girl-mob@2x.jpg);
  }
}
.img-shirt-first {
  display: none;
}
.img-shirt {
  display: none;
}
.title-order {
  font-family: 'Manrope', sans-serif;
  color: var(--white-color);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.span-order {
  color: var(--yellow-color);
}
.container-input-one-order {
  margin-bottom: 20px;
}
.input-order {
  background-color: transparent;
  width: 100%;
  height: 45px;
  border: solid 1px;
  border-radius: 15px;
  border-color: rgba(252, 249, 249, 0.4);
}
.input-order::placeholder {
  padding-left: 16px;
  font-size: 14px;
  color: rgba(252, 249, 249, 0.4);
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}
.input-order:hover,
focus {
  border-color: var(--white-color);
  color: var(--white-color);
}
.input-order::placeholder:hover,
:focus {
  color: var(--white-color);
}
.container-textarea {
  margin-top: 20px;
  margin-bottom: 40px;
}
.textarea {
  background-color: transparent;
  resize: none;
  width: 100%;
  height: 196px;
  border: solid 1px;
  border-radius: 8px;
  border-color: rgba(252, 249, 249, 0.4);
}
.textarea::placeholder {
  color: rgba(252, 249, 249, 0.4);
  font-weight: 400;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  padding-left: 16px;
  padding-top: 14px;
}
.textarea:hover,
focus {
  border-color: var(--white-color);
}
.btn {
  display: flex;
  height: 49px;
  border: solid 1px;
  border-radius: 15px;
  border-color: rgba(252, 249, 249, 0.1);
  color: var(--white-color);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 14px 36px;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  line-height: 1.37;
  letter-spacing: -0.04em;
  background-color: transparent;
  text-transform: uppercase;
  transition: border 200ms ease-in-out;
}
.btn:hover,
focus {
  border-color: var(--yellow-color);
  outline: transparent;
}
.container-icon {
  padding-left: 10px;
}
.picture {
  background-image: url(/img/menu/texture-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192pdi),
  (min-resolution: 2dppx) {
  .section-page-one {
    background-image: url(/img/menu/texture-mob@2x.png);
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .section-order {
    background-image: url(/img/your-order/girl-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192pdi),
    (min-resolution: 2dppx) {
    .section-page-one {
      background-image: url(/src/img/your-order/girl-tab@2x.jpg);
    }
  }
  .section-order {
    padding-bottom: 80px;
  }
  .img-shirt {
    display: none;
  }
  .title-order {
    font-family: 'Manrope', sans-serif;
    color: var(--white-color);
    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    width: 542px;
    height: 174px;
  }
  .span-order {
    color: var(--yellow-color);
  }
  .container-input-one-order {
    margin-bottom: 20px;
  }
  .input-order {
    background-color: transparent;
    width: 508px;
    height: 50px;
    border: solid 1px;
    border-radius: 15px;
    border-color: rgba(252, 249, 249, 0.4);
  }
  .input-order::placeholder {
    padding-left: 16px;
    font-size: 14px;
    color: rgba(252, 249, 249, 0.4);
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
  }

  .container-textarea {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .textarea {
    background-color: transparent;
    resize: none;
    width: 508px;
    height: 196px;
    border: solid 1px;
    border-radius: 8px;
    border-color: rgba(252, 249, 249, 0.4);
  }
  .textarea::placeholder {
    color: rgba(252, 249, 249, 0.4);
    font-weight: 400;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
  }
  .btn {
    height: 49px;
    border: solid 1px;
    border-radius: 15px;
    border-color: rgba(252, 249, 249, 0.1);
    color: var(--white-color);
    padding: 14px 36px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    line-height: 1.37;
    letter-spacing: -0.04em;
    background-color: transparent;
    text-transform: uppercase;
    display: inline-flex;
    transition: border 200ms ease-in-out;
    margin-bottom: 100px;
  }
  .btn:hover,
  focus {
    border-color: var(--yellow-color);
    outline: transparent;
  }
  .container-icon {
    padding-left: 10px;
  }
  .container-shirt {
    padding-left: 80px;
  }
  .img-shirt {
    display: flex;
    border: solid 1px;
    border-radius: 4px;
    width: 638px;
    height: 521px;
  }
  .img-shirt-first {
    display: none;
  }
  .picture {
  }
}
/* dextop-version */
@media screen and (min-width: 1280px) {
  .section-order {
    background-image: url(/img/your-order/girl-desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192pdi),
    (min-resolution: 2dppx) {
    .section-page-one {
      background-image: url(/img/your-order/girl-desk-L@2x.jpg);
    }
  }
  .contant {
    display: flex;
    justify-content: center;
  }
  .img-shirt {
    display: none;
  }
  .images-container {
    margin-right: 50px;
  }

  .img-shirt-first {
    display: flex;
    width: 524px;
    height: 521px;
    border: solid 1px;
    border-radius: 4px;
  }
}
